<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.analysis.chromium.core.trace"
            isDirectory="false"
            name="Chromium Trace"
            trace_type="org.eclipse.tracecompass.analysis.chromium.core.trace.ChromiumTrace">
      </type>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.internal.analysis.chromium.core.callstack.ChromiumCallstackAnalysis"
            automatic="true"
            id="org.eclipse.tracecompass.analysis.chromium.callstack"
            name="Chromium Callstack">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.chromium.core.trace.ChromiumTrace">
         </tracetype>
      </module>
      <output
            class="org.eclipse.tracecompass.analysis.chromium.core.AnalysisOutput2"
            id="org.eclipse.tracecompass.analysis.chromium.callstack">
      </output>
      <output
            class="org.eclipse.tracecompass.analysis.chromium.core.AnalysisOutput2"
            id="org.eclipse.tracecompass.analysis.chromium.callstack">
      </output>
   </extension>

</plugin>
