<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.analysis.chromium.core.trace"
            isDirectory="false"
            name="Chromium Trace"
            trace_type="org.eclipse.tracecompass.analysis.chromium.core.trace.ChromiumTrace">
      </type>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.internal.analysis.chromium.core.callstack.ChromiumCallstackAnalysis"
            automatic="true"
            id="org.eclipse.tracecompass.analysis.chromium.callstack"
            name="Chromium Callstack">
              <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.chromium.core.trace.ChromiumTrace">
         </tracetype>
	</module>
      <module
            analysis_module="org.eclipse.tracecompass.internal.analysis.chromium.core.statistics.ChromiumStatisticsAnalysis"
            id="org.eclipse.tracecompass.internal.analysis.chromium.core.statistics.analysis"
            name="Chromium Statistics">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.chromium.core.trace.ChromiumTrace">
         </tracetype>
      </module>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.internal.analysis.chromium.core.statistics.view">
         <analysisModuleClass
               class="org.eclipse.tracecompass.internal.analysis.chromium.core.statistics.ChromiumStatisticsAnalysis">
         </analysisModuleClass>
      </output>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.chromium.core.statistics.ChromiumStatisticsView"
            id="org.eclipse.tracecompass.internal.analysis.chromium.core.statistics.view"
            name="Chromium Statistics"
            restorable="true">
      </view>
   </extension>

</plugin>
