<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.analysis.chromium.core.trace"
            isDirectory="false"
            name="Chromium Trace"
            trace_type="org.eclipse.tracecompass.analysis.chromium.core.trace.ChromiumTrace">
      </type>
   </extension>

</plugin>
